@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #000;
  --white: #fff;
  --forest-green: #439345;
  --dim: #dfdfdf;
  --body: #333;
  font-size: 22px;
}

:root, body {
  height: 100%;
}
